<% provide(:title, "Alexander Hughes - Portfolio") %>

<body>
	<div class="sections">CODE</div>
	<div class="sections">BIO</div>
	<div class="sections">CV pdf</div>
	<div class="sections">CONTACT</div>
	<div class="contact-info">
		<p>Alexander Hughes</p>
		<p>ahughes1231@gmail.com</p>
		<p>516-376-5079</p>
		<p>github @alexanderhughes</p>
		<p>linkedin @alexanderwhughes</p>
		<p>twitter @alexanderhughes</p>
		<p>#links</p>
	</div>
</body>